* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
  }
  
  body {	  
	  background-color: #1c1b1b;
	  display: flex;
	  justify-content: space-evenly;
	  flex-direction: column;
	  align-items: center;	  	  
  }

	header {
		margin: 5px 0;
	}
  
  h1 {
	font-size: 2rem;
	font-weight: bold;
	color: #2bf233;
  }
  
  main {
	width: 400px;
	background-color: #141414;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 20px;
  }
  
  ul {
	display: flex;
  }
  
  li {
	list-style: none;
	padding: 15px;
  }
  
  p, a {
	color: white;
  }
  
  .display {
	  box-sizing: border-box;
	  width: 100%;
	  height: 70px;
	  font-size: 1.6em;
	  text-align: right;
	  border: 1px solid #ccc;
	  border-radius: 5px;
	  font-family: calculator;
	  font-weight: bold;
	  padding: 5px;
	  overflow:auto;
  }

	#prevNum {
		color: #888;
	}

  .results {
	  width: 100%;
	  height: auto;
	  color: #d5d3d3;
	  overflow:hidden;
  }
  
  input[type='button'] {
	  width: 100%;
	  padding: 10px;
	  font-size: 1.2em;
	  border: none;
	  border-radius: 5px;
	  cursor: pointer;
	  transition: background-color 0.3s ease;
  }
  
  .number,
  .decimal {
	  background-color: #e6e6e6;
	  color: #333;
  }
  
  .sum,
  .subtract,
  .multiply,
  .divide,
  .modules,
  .equal {
	  background-color: #2bf233;
	  color: #000;
  }
  
  .undoButton {
	  background-image: url('./src/images/undo.svg');
	  background-size: auto;
	  color: #cccccc;
	  background-repeat: no-repeat;
	  background-position: center;
  }
  .clear-input {
	  background-color: #2bf233;
	  color: #000;
  }
  
  input[type='button']:hover {
	  opacity: 0.9;
  }
  
  table {
	  width: 100%;
	  border-collapse: collapse;
  }
  
  td {
	  width: 25%;
	  padding: 5px;
  }
  
  th {
	  padding-bottom: 20px;
  }
  th.display-th {
	  padding: 10px;
  }

  .keyboardSupport{
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	font-size: 15px;
	color: #bcbcbc;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 0;	
	font-weight: bold;
  }
  
  .keySupp {
	text-align: center;
	display: flex;
	flex-direction: column;
	font-size: 12px;
	font-family: 'Courier New', Courier, monospace;
  }
  .keySupp > li {
	padding-top: 3px;
	color:#6c986e;
	font-size: 14px;
  }

  footer{
	display: flex;	
	align-items: center;
	margin-top: 5px;
  }

	.link-github {
		color: #bcbcbc;
	}

	.link-github a{
		color: #6e6e6e;
	}	